h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

*,
*::after,
*::before {
    /* this is for the box not having extra size when adding "padding" */
    box-sizing: border-box;
}

    /*  from: https://coolors.co */
:root {
  --light-shades: #F8F991;
  --main-brand: #9AB87A;
  --dark-accent: #3D315B;
  --dark-shades: #444B6E;
}