h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

*,
*::after,
*::before {
    /* this is for the box not having extra size when adding "padding" */
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {

    /* colors from: https://coolors.co */
    --light-shades: #FFE6A7;
    --main-brand: #BB9457;
    --dark-accent: #99582A;
    --dark-shades: #6F1D1B;
    /* padding */
    --page-padding: 1.2rem 10rem;
    /*font*/
}