h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

*,
*::after,
*::before {
    /* this is for the box not having extra size when adding "padding" */
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {

    /* colors from: https://coolors.co */
    --light-shades: #FFE6A7;
    --main-brand: #BB9457;
    --dark-accent: #99582A;
    --dark-shades: #6F1D1B;
    /* padding */
    --page-padding: 1.2rem 10rem;
    --padding: 1.2rem;
    /* gap */
    --gap: 1.5rem; 
    /*border*/
    --border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

.background-animation {
    background: linear-gradient(
        -45deg,
        var(--dark-shades),
        var(--light-shades),
        var(--dark-accent)
    );
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;    
    }
}

@media screen and (max-width: 768px) {
    :root{
        --page-padding: 1rem 2rem;
    }
    .navbar-container {
        flex-direction: column;
        gap: var(--gap);
    } 
    .navbar-links-container {
        flex-direction: column;
        text-align: right;
    }
    .aboutme-container{
        flex-direction: column;
    }
}

