.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: var(--page-padding);
    background-color: var(--main-brand);
    color: var(--light-shades);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-links-container{
    display: flex;
    gap: 1rem;
    animation: rotateMenu 0.5s ease-in-out;
}

.navbar-links-container a{
    color: var(--light-shades);
    text-decoration: none; /* removes text decoration from links */
    transition: all 0.2s ease-in-out;
}

/* adds animation for hovering over the links */
.navbar-links-container a:hover{
    color: var(--dark-shades);
    transform: translateY(-3px);
    text-shadow: 1px 1px 2px var(--dark-shades);    
}

/* hambuguer menu source: svgrepo.com */
.navbar-container img{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

/* style for the hamburger menu when it shows up*/
.navbar-name{
    display: flex;
    justify-content: space-between;
}

/* adds animation to hambuger menu */
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    60% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
